* {
    margin: 2;
}
.tutorial {
    background-color: white;
    margin: 40px;
    width: 75% ;
    text-align: center;
}
h2 {
   
    text-align: center;
}
p {
    position: relative;
    text-align: center;
}
.gif {
    display : block;
    left: 50%;
    top: 50%;
    text-align: center;
}

.spacing {
    padding: 70px;
}

.ready {
    text-align: center;
}
